#map {
  width: 100vw;
  height: 100vh;
}

.card {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* label {
    color: black;
    font-size: 13px;
    
} */

.svgMarker {
  stroke: #5bccf6;
}

.popup {
  max-width: 10vw;
  padding: 1rem;
}

.tripentryform label,
.tripentryform input,
.tripentryform textarea,
.tripentryform button {
  margin: 0.5rem 0;
  display: block;
  width: 100%;
}

button {
  border: black 1px;
  margin: 0.5rem;
  padding: 7px;
  border-radius: 2px;
  background-color: #5bccf6;
  cursor: pointer;
}
